sites:
  apikeys:
    osu: "" # Required for this handler
  enabled:
# Disabled because it's not done yet
#  - osu.ppy.sh
  - youtube.com

shorteners:
  enabled:
  - is.gd
  - nazr.in
  - v.gd
  - waa.ai