enabled:
  - github
  - osu
  - youtube

github:
  formatting: {}  # See documentation if you want to change the formatting

osu:
  key: ""
  formatting: {}  # See documentation if you want to change the formatting

youtube:
  key: ""
  formatting: {}  # See documentation if you want to change the formatting
