# Configuration file for the Web plugin.
# API keys don't go here - configure them with commands instead.

hostname: 0.0.0.0  # Interface to listen on
port: 8080  # Port to listen on
output_requests: yes  # Whether to output requests or not

# Public-facing address. Be sure to set this!
# When you've set up your Web plugin for the first time, type this into
# a browser to make sure it works. If it doesn't, correct it!
public_address: "http://localhost:8080"

# Check X-Forwarded-For and X-Real-Ip headers for the IP address of the user
# Only use this if you're behind a reverse proxy such as nginx or apache,
# and have closed the above port or are only listening on localhost
#
# DO NOT ENABLE THIS UNLESS YOU KNOW WHAT YOU ARE DOING - MAY CAUSE SECURITY
# ISSUES FOR WEB PLUGINS NOT SECURED BEHIND A REVERSE PROXY
x_forwarded_for: false

# reset_message: >
#   Blah blah blah talk to xyz to reset your password.
#
#   Please fill this out! It'll be shown to anyone who clicks the "reset"
#   button on the login page.

# Whether to use environment variables for binding. Comment this out or set
# it to false if you aren't using a cloud hosting provider.
hosted: false

# You can either set this to a supported hosting provider..
# hosted: openshift  # (just openshift for now)

# ..or define the environment variables to use.
# hosted:
#   hostname: OPENSHIFT__IP
#   port: OPENSHIFT__PORT