triggers:
  # You may remove any of these sections if you don't want to use them.
  global:
    # These triggers will fire in any channel on any protocol
    - {trigger: "^global trigger$", response: ["Global response!"]}
  protocols:
    irc-esper:
      global:
        # These triggers will fire in any channel on this protocol
        - {trigger: "^protocol trigger$", response: ["Esper response!"]}
      channels:
        "#Ultros":
            # These triggers will fire in this channel on this protocol
          - {trigger: "^channel trigger$", response: ["Ultros response!"]}
          - {trigger: "tentacle ra((pe)|(ep))", response: ["l-lewd", "lewd!", "{source}, why you gotta be so leeewwd?"], flags: "i"}
          - {trigger: "^pets Ultros", response: ["gently tentacles {source}", "gurgles~ ^-^", "flails tentacles"], trigger_types: {action: true}, response_type: "action", flags: "i"}
          - {trigger: "^test trigger$", response: ["A response", {response: "responds", type: "action"}]}
          - {trigger: "^test trigger 2$", response: ["actions", "actions vigorously", {response: "This is a message", type: "message"}], response_type: "action"}
          - {trigger: "^test trigger 3$", response: ["You have permission!"], permission: "test"}  # Requires the triggers.trigger.test permission in addition to the regular triggers.trigger permission
