.sidebar-nav li.active {
    background-color: #222;
}

.main.container {
    padding: 0 50px 50px 250px;
}

.ui.active.content.fluid.table {
    display: table !important;
}

#menu {
    display: inline;
}

.item.hidden {
    width: 1px !important;
    height: 0 !important;
    padding: 0 !important;
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}

.hide-full {
    display: none !important;
}

/*#mobile-menu {*/
    /*display: none;*/
/*}*/

@media (max-width: 1000px) {
    .main.container {
        padding-right: 50px;
    }
}

@media (max-width: 855px) {
    .main.container {
        padding: 0 50px 50px;
    }

    #menu {
        display: none;
    }

    .hide-full {
        display: inline-block !important;
    }

    /*#mobile-menu {*/
        /*display: block;*/
    /*}*/
}

@media handheld {
    .main.container {
        padding: 0 50px 50px;
    }

    #menu {
        display: none;
    }

    .hide-full {
        display: inline-block !important;
    }

    /*#mobile-menu {*/
        /*display: block;*/
    /*}*/
}