## -*- coding: utf-8 -*-

<!DOCTYPE html>

<%page args="title='Ultros',nav_items={}"/>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%block name="title"/></title>

    <link rel="shortcut icon" href="/static/ultros.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/ultros.png" />

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Semantic CSS and JS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js"></script>

    <!-- IntroJS CSS and JS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/intro.js/0.6.0/introjs.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/intro.js/0.6.0/intro.min.js"></script>

    <!-- Other CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//mottie.github.io/tablesorter/css/theme.bootstrap.css" rel="stylesheet" />
    <link href="//necolas.github.io/normalize.css/2.1.3/normalize.css" rel="stylesheet" />

    <!-- Other JS -->
    <script src="//mottie.github.io/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>

    % if extra_css is not UNDEFINED:
    <!-- Route-specific CSS -->
        % for url in extra_css:
    <link href="${url}" rel="stylesheet" />
        % endfor
    % endif

    % if extra_js is not UNDEFINED:
    <!-- Route-specific JS -->
        % for url in extra_js:
    <script src="${url}" rel="stylesheet"></script>
        % endfor
    % endif

    <%block name="header"/>
</head>

<body>
    <%include file="navbar.html" args="items=nav_items"/>
    <!-- Page content -->
    <div class="ui main container">
        % if _message and _message_type:
            <div class="ui ${_message_type | h} fluid message segment">
                <p>${_message | h}</p>
            </div>
        % endif

        ${self.body()}
    </div>

    <!-- Semantic JS stuff -->
    <script>
        // Sidebar triggers
        try {
            $("#menu").first().sidebar("attach events", ".menu-toggle");
        } finally {
            try {
                // Initialize popups
                $(".add-popup").popup();
            } finally {
                try {
                    // Initialize accordions
                    $(".accordion").accordion();
                } finally {
                    // Initialize checkboxes
                    $(".checkbox").checkbox();
                }
            }
        }
    </script>

    <!-- Javascript for the sortable tables -->
    <script>
    $(".table-sortable").bind("sortEnd", function(e, table) {
        $(".tablesorter-headerRow").find(".tablesorter-icon")
                .removeClass("icon")
                .removeClass("sort")
                .removeClass("ascending")
                .removeClass("descending");

        $(".tablesorter-headerRow").find(".tablesorter-headerUnSorted")
                .find(".tablesorter-icon")
                .addClass("icon")
                .addClass("sort");

        $(".tablesorter-headerRow").find(".tablesorter-headerAsc")
                .find(".tablesorter-icon")
                .addClass("icon")
                .addClass("sort")
                .addClass("ascending");

        $(".tablesorter-headerRow").find(".tablesorter-headerDesc")
                .find(".tablesorter-icon")
                .addClass("icon")
                .addClass("sort")
                .addClass("descending");
    }).bind("tablesorter-initialized", function(e, table) {
        $(".tablesorter-headerRow").find(".tablesorter-icon")
                .removeClass("icon")
                .removeClass("sort")
                .removeClass("ascending")
                .removeClass("descending");

        $(".tablesorter-headerRow").find(".tablesorter-headerUnSorted")
                .find(".tablesorter-icon")
                .addClass("icon")
                .addClass("sort");

        $(".tablesorter-headerRow").find(".tablesorter-headerAsc")
                .find(".tablesorter-icon")
                .addClass("icon")
                .addClass("sort")
                .addClass("ascending");

        $(".tablesorter-headerRow").find(".tablesorter-headerDesc")
                .find(".tablesorter-icon")
                .addClass("icon")
                .addClass("sort")
                .addClass("descending");
    });

    $(function(){
        $(".table-sortable").tablesorter({headerTemplate: "{content} {icon}"});
    });
    </script>
</body>

</html>
