<!DOCTYPE html>
<%page args="title='Ultros'"/>
<html lang="en">
    <head>
        <title><%block name="title"/></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://necolas.github.io/normalize.css/2.1.3/normalize.css" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="//mottie.github.sio/tablesorter/css/theme.bootstrap.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//mottie.github.io/tablesorter/js/jquery.tablesorter.min.js"></script>
        <script src="//code.highcharts.com/highcharts.js"></script>

        <link rel="shortcut icon" href="/static/ultros.png" />
        <link rel="apple-touch-icon-precomposed" href="/static/ultros.png" />
        <%block name="header"/>
    </head>
    <body>
        ${self.body()}

        <script>
            $(".table-sortable").bind("sortEnd", function(e, table) {
                $(".tablesorter-headerRow").find(".tablesorter-icon")
                        .removeClass("glyphicon")
                        .removeClass("glyphicon-sort")
                        .removeClass("glyphicon-sort-by-attributes")
                        .removeClass("glyphicon-sort-by-attributes-alt");
                $(".tablesorter-headerRow").find(".tablesorter-headerUnSorted")
                        .find(".tablesorter-icon")
                        .addClass("glyphicon")
                        .addClass("glyphicon-sort");

                $(".tablesorter-headerRow").find(".tablesorter-headerAsc")
                        .find(".tablesorter-icon")
                        .addClass("glyphicon")
                        .addClass("glyphicon-sort-by-attributes");

                $(".tablesorter-headerRow").find(".tablesorter-headerDesc")
                        .find(".tablesorter-icon")
                        .addClass("glyphicon")
                        .addClass("glyphicon-sort-by-attributes-alt");
            }).bind("tablesorter-initialized", function(e, table) {
                $(".tablesorter-headerRow").find(".tablesorter-icon")
                        .removeClass("glyphicon")
                        .removeClass("glyphicon-sort")
                        .removeClass("glyphicon-sort-by-attributes")
                        .removeClass("glyphicon-sort-by-attributes-alt");
                $(".tablesorter-headerRow").find(".tablesorter-headerUnSorted")
                        .find(".tablesorter-icon")
                        .addClass("glyphicon")
                        .addClass("glyphicon-sort");

                $(".tablesorter-headerRow").find(".tablesorter-headerAsc")
                        .find(".tablesorter-icon")
                        .addClass("glyphicon")
                        .addClass("glyphicon-sort-by-attributes");

                $(".tablesorter-headerRow").find(".tablesorter-headerDesc")
                        .find(".tablesorter-icon")
                        .addClass("glyphicon")
                        .addClass("glyphicon-sort-by-attributes-alt");
            });

            $(function(){
                $(".table-sortable").tablesorter({theme: 'bootstrap', headerTemplate: "{content} {icon}"});
            });
        </script>
    </body>
</html>