<%inherit file="base.html"/>

    <div class="page-content inset">
        <div class="row">
            <div class="col-md-12">
% if show_breadcrumbs:
                <ol class="breadcrumb">
                    % for element in breadcrumbs:
                        <li>
                            <a href="${element[1]}">
                                ${element[0]}
                            </a>
                        </li>
                    % endfor

                    <li class="active">${current_breadcrumb}</li>
                </ol>
% endif

                ${content}
            </div>
        </div>
    </div>

<%block name="title">Ultros | ${_title}</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>