## -*- coding: utf-8 -*-

<%inherit file="base.html"/>

% if show_breadcrumbs:
<div class="ui green fluid segment">
    <div class="ui breadcrumb">
    % for element in breadcrumbs:
        <a class="section" href="${element[1]}">
            ${element[0]}
        </a>
        <div class="divider"> / </div>
    % endfor
        <a class="active section">${current_breadcrumb}</a>
    </div>
</div>
% endif

${content}

<%block name="title">Ultros | ${_title}</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>