<%inherit file="base.html"/>
        <div class="page-content inset">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome!</h1>

                    <p>This is the default page. The web plugin is in its early stages, so watch this space!</p>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Packages and plugins
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Currently installed packages: ${len(packages)}</p>
                                    <ul>
% for package in sorted(packages.items()):
                                        <li>${package[0]} v${package[1]}</li>
% endfor
                                    </ul>
                                    <p>Currently enabled plugins: ${len(plugins)}</p>
                                    <ul>
<%
    import operator
%>
% for plugin in sorted(plugins, key=operator.attrgetter("name")):
                                        <li><a href="${plugin.website}">${plugin.name}</a> v${plugin.version}</li>
% endfor
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        Protocols
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
<%
    types_map = {"Protocol": "Unknown",
                 "ChannelsProtocol": "Channel-based"}
%>
% for name in sorted(factories.keys()):
                                        <li> ${name}
                                            <ul>
                                                <li>Type: ${factories[name].protocol.TYPE}</li>
    <%
        from system.protocols.generic.protocol import ChannelsProtocol
        inst = isinstance(factories[name].protocol, ChannelsProtocol)
    %>
    % if inst:
                                                <li>${factories[name].protocol.num_channels} channel(s) </li>
    % endif
                                            </ul>
                                        </li>
% endfor
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<%block name="title">Ultros | Index</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>