## -*- coding: utf-8 -*-

<%inherit file="base.html"/>
        <div class="ui blue fluid segment">
            <p>This is the default page. The web plugin is in its early stages, so watch this space!</p>
        </div>

        <div>&nbsp;</div>

    % if plugins:
        <div class="ui fluid attached segment">
            <h4 class="ui header">Packages and plugins</h4>
        </div>
        <div class="ui fluid attached segment">
            <h5 class="ui header">Currently installed packages: ${len(packages)}</h5>
            <ul class="ui list">
            % for package in sorted(packages.items()):
                <li>${package[0]} v${package[1]}</li>
            % endfor
            </ul>
            <h5 class="ui header">Currently enabled plugins: ${len(plugins)}</h5>
            <ul class="ui list">
<%
import operator
%>
            % for plugin in sorted(plugins, key=operator.attrgetter("name")):
                <li><a href="${plugin.website}">${plugin.name}</a> v${plugin.version}</li>
            % endfor
            </ul>
        </div>
    % endif

        <div>&nbsp;</div>

    % if factories:
        <div class="ui fluid attached segment">
            <h4 class="ui header">Protocols</h4>
        </div>
        <div class="ui fluid attached segment">
            <ul class="ui list">
<%
types_map = {"Protocol": "Unknown",
             "ChannelsProtocol": "Channel-based"}
%>
            % for name in sorted(factories.keys()):
                <li> ${name}
                    <ul class="ui list">
                        <li>Type: ${factories[name].protocol.TYPE}</li>
<%
from system.protocols.generic.protocol import ChannelsProtocol
inst = isinstance(factories[name].protocol, ChannelsProtocol)
%>
                    % if inst:
                        <li>${factories[name].protocol.num_channels} channel(s) </li>
                    % endif
                    </ul>
                </li>
            % endfor
            </ul>
        </div>
    % endif

<%block name="title">Ultros | Index</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>