<%inherit file="base.html"/>
    <div class="ui segment">
        <p> This uses your bot account. If you don't have one, find the bot on one of its networks
            and message it with the register command - For example, <code>.register username password</code>.
        </p>
    </div>
% if failed:
        <div class="ui attached error message">
            <div class="header">
                Incorrect username or password
            </div>
            <p> Please ensure that your details are correct.
                If you feel this message is in error, please talk to a bot admin.
            </p>
        </div>
% endif
% if missing:
        <div class="ui attached warning message">
            <div class="header">
                Missing details
            </div>
            <p> Please enter both a username and password.
            </p>
        </div>
% endif
        <div class="ui form attached fluid segment">
            <form role="form" action="/login" method="post">
                <div class="field">
                    <div class="ui left icon input">
                        <input type="text" placeholder="Username" name="username" required>
                        <i class="user icon"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input type="password" placeholder="Password" name="password" required>
                        <i class="lock icon"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="ui buttons">
                    <button type="submit" class="positive ui button">Submit</button>
                    <div class="or"></div>
                    <a href="/login/reset">
                        <button class="negative ui button">Reset</button>
                    </a>
                </div>
            </form>
        </div>
    </div>

<%block name="title">Ultros | Login</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>