## -*- coding: utf-8 -*-

<%inherit file="base.html"/>
    <div class="ui fluid attached segment">
        <p> To reset your account password, you'll need to talk to someone that
            has access to the bot's files or administration areas.
        </p>

        <p> The owner of the bot had the following to say about password
            resets..
        </p>
    </div>
    <pre class="ui fluid attached inverted segment">
${message | trim,h}
    </pre>
    <div class="ui fluid attached segment">
        <p> If this isn't enough information to reset your password, please
            attempt to contact the bot owner or administrators via some other
            means.
        </p>
    </div>


<%block name="title">Ultros | Reset login</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>