        <%page args="items={}"/>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        <i class="fa fa-home fa-inverse fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Ultros
                    </a>
                </li>
% if auth.authorized:
                <li class="sidebar-login-display">
                    <a href="/logout">
                        <i class="fa fa-unlock fa-inverse fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Logout (${auth.auth_name})
                    </a>
                </li>
% else:
                <li class="sidebar-login-display">
                    <a href="/login">
                        <i class="fa fa-lock fa-inverse fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Login
                    </a>
                </li>
% endif
% for title, entry in sorted(items.items()):
    % if entry["active"]:
                <li class="active">
                    <a href="${entry['url']}#">
                        <i class="fa fa-arrow-right fa-inverse fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        ${title}
                    </a>
                </li>
    % else:
                <li>
                    <a href="${entry['url']}">
                        <i class="fa fa-arrow-right fa-inverse fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        ${title}
                    </a>
        </li>
    % endif
% endfor
            </ul>
        </div>
