        <%page args="items={'Home':{'active':True,'url':'/'},'Test':{'active':False,'url':'/test'}}"/>
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Ultros</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                    % for title, entry in items.items():
                        % if entry["active"]:
                            <li class="active"><a href="${entry['url']}#">${title}</a></li>
                        % endif
                        % if not entry["active"]:
                            <li><a href="${entry['url']}">${title}</a></li>
                        % endif
                    % endfor
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            % if auth.authorized:
                                <li><a href="/logout">Logout (${auth.auth_name})</a></li>
                            % else:
                                <li><a href="/login">Login</a></li>
                            % endif
                        </ul>
                    </div>
                </div>
            </div>