## -*- coding: utf-8 -*-

        <%page args="items={}"/>

<div id="mobile-menu" class="ui pointing fluid menu">
    % if nav_name == "home":
    <a class="green active item hide-full" href="/">
        <i class="home icon"></i>
        Home
    </a>
    % else:
    <a class="item hide-full" href="/">
        <i class="home icon"></i>
        Home
    </a>
    % endif

    % for title, entry in sorted(items.items()):
        % if title == nav_name:
        <a class="green active item hide-full" href="${entry['url']}">
            <i class="${entry.get('icon', 'question')} icon"></i>
            ${title.title()}
        </a>
        % else:
        <a class="item hide-full" href="${entry['url']}">
            <i class="${entry.get('icon', 'question')} icon"></i>
            ${title.title()}
        </a>
        % endif
    % endfor

    <a class="hidden item"></a>

    <div class="right menu">
% if session:
        <a class="hidden item"></a>

    % if nav_name == "account":
        <a class="blue active item add-popup" title="Account" data-position="bottom center" href="/account">
            ${session["username"]}
        </a>
    % else:
        <a class="item add-popup" title="Account" data-position="bottom center" href="/account">
            ${session["username"]}
        </a>
    % endif
        <a class="red item add-popup" title="Logout" data-position="bottom left" href="/logout">
            <i class="red alternate unlock icon"></i>
        </a>

% else:
        <a class="hidden item"></a>

    % if nav_name == "login":
        <a class="blue active item add-popup" title="Login" data-position="bottom left" href="/login">
            <i class="lock icon"></i>
        </a>
    % else:
        <a class="item add-popup" title="Login" data-position="bottom left" href="/login">
            <i class="lock icon"></i>
            Login
        </a>
    % endif
% endif
    </div>
</div>

<div id="menu" class="ui thin vertical sidebar menu active">

    <div class="ui attached fluid vertical menu segment">
        <a class="item" href="/" style="height: 50px;">
            <img class="icon" src="/static/ultros-logo.png">
        </a>
    </div>

    <div class="ui attached fluid vertical menu segment">
    % if nav_name == "home":
        <a class="green active item" href="/">
            <i class="home icon"></i>
            Home
        </a>
    % else:
        <a class="item" href="/">
            <i class="home icon"></i>
            Home
        </a>
    % endif

    % for title, entry in sorted(items.items()):
        % if title == nav_name:
        <a class="green active item" href="${entry['url']}">
            <i class="${entry.get('icon', 'question')} icon"></i>
            ${title.title()}
        </a>
        % else:
        <a class="item" href="${entry['url']}">
            <i class="${entry.get('icon', 'question')} icon"></i>
            ${title.title()}
        </a>
        % endif
    % endfor
    </div>
</div>
