# Because Inter doesn't have a concept of channels at this time, we can only
# feasibly support relaying between one channel. This may change in the
# future.

# This will relay /all/ installed Inter protocols to the same place. You can
# use this as a chat channel bridge if you have only one Inter server, however
# this plugin is better suited for a control channel if you have more than one.

protocol: irc-esper
channel: "#Inter"

formatting:
  # This only applies to the channel we're relaying to, not from.
  server:
    connected: "{SERVER} » Server connected to Inter."
    disconnected: "{SERVER} » Server disconnected from Inter."
  player:
    message: "{SERVER} » {USER} » {MESSAGE}"
    connected: "{SERVER} » {USER} has connected."
    disconnected: "{SERVER} »  {USER} has disconnected."
    list:
      message: "{SERVER} » {PLAYERS}"
      join: ", "

  # Alternate formatting block - you can use this for IRC if you wanted colours there.

#  formatting:
#    server:
#      connected: "\x0312{SERVER}\x0313 » Server connected to Inter."
#      disconnected: "\x0312{SERVER}\x0313 » Server disconnected from Inter."
#    player:
#      message: "\x0312{SERVER}\x0314 » \x0311{USER}\x0314 » \x0F{MESSAGE}"
#      connected: "\x0312{SERVER}\x0303 » \x0311{USER}\x0303 has connected."
#      disconnected: "\x0312{SERVER}\x0305 » \x0311{USER}\x0305 has disconnected."
#      list:
#        message: "\x0312{SERVER}\x0313 » \x0311{PLAYERS}"
#        join: "\x0313, \x0311"