## -*- coding: utf-8 -*-

<%inherit file="../base.html"/>
<div class="ui labeled icon menu">
    <a class="item" href="/admin">
        <i class="settings icon"></i>
        Admin
    </a>
    <a class="green active item">
        <i class="file outline icon"></i>
        Files
    </a>
</div>

% for _type, _files in file_objs.items():
<h2 class="ui header">${_type.title() | h}</h2>

<table class="ui table segment table-sortable">
    <thead>
        <tr>
            <th style="width: 45%">Descriptor</th>
            <th style="width: 15%">Editable</th>
            <th style="width: 15%">Format</th>
            <th style="width: 25%; text-align: right;">Modified</th>
        </tr>
    </thead>
    <tbody>
    % for _filename, _file in _files.items():
        <tr>
        % if _file.get().representation is None:
            <td style="width: 45%">${_filename | h}</td>

            <td style="width: 15%" class="negative">No</td>
        % else:
            <td style="width: 45%">
                <a href="/admin/files/${_type | h}/${_filename | h}">
                    ${_filename | h}
                </a>
            </td>

            <td style="width: 15%" class="positive">Yes</td>
        % endif
            <td style="width: 15%">${_file.get().format | h}</td>

        % if _file.get().mtime:
            <td style="width: 25%; text-align: right; border-left: 1px solid #999; font-family: monospace;">${_file.get().mtime.strftime("%d %b, %Y - %H:%M:%S") | h}</td>
        % else:
            <td style="width: 25%; text-align: right; border-left: 1px solid #999; font-family: monospace;">Unknown</td>
        % endif
        </tr>
    % endfor
    </tbody>
</table>
% endfor

<%block name="title">Ultros | Files</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>