<%inherit file="../base.html"/>
        <div class="container" style="height: 100% !important">
            <%include file="../navbar.html" args="items=nav_items"/>

            <h1 class="text-center">
                <small>${filename}</small>
            </h1>

            % if error:

            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                ${error}
            </div>

            % endif

            <form method="post" action="/admin/file/${filetype}/${filename}">
                <textarea id="input" name="input">
${content}
                </textarea>
                <br />
                <button type="submit" class="btn btn-success btn-lg btn-block">Save</button>

            </form>

        </div>

        <script>
            var myCodeMirror = CodeMirror.fromTextArea(
                document.getElementById("input"), {
                    mode: "${mode}",
                    theme: "monokai",
                    indentUnit: 4,
                    lineNumbers: true
                }
            );
        </script>

<%block name="title">Ultros | File: ${_title}</%block>
<%block name="header">
% for item in headers:
    ${item}
% endfor
</%block>