main:
  protocol-type: inter
  can-flood: no
connection:
  host: localhost
  port: 35565
  api_key: 1234567890ABCDEF12345678

# Nickname to show messages from ourselves as
nickname: Ultros

control_char: "."  # For commands
